USE [cshap]
GO
/****** Object:  Table [dbo].[ColdFood]    Script Date: 2023/12/3 下午 08:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColdFood](
	[CID] [int] NOT NULL,
	[Cname] [nvarchar](50) NULL,
	[Cprice] [int] NULL,
	[Corigin] [nvarchar](50) NULL,
	[Cdesc] [nvarchar](100) NULL,
	[Cimg] [nvarchar](50) NULL,
 CONSTRAINT [PK_ColdFood] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
