USE [cshap]
GO
/****** Object:  Table [dbo].[DessertFood]    Script Date: 2023/12/3 下午 08:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DessertFood](
	[DID] [int] NOT NULL,
	[Dname] [nvarchar](50) NULL,
	[Dprice] [int] NULL,
	[Dorigin] [nvarchar](50) NULL,
	[Ddesc] [nvarchar](100) NULL,
	[Dimg] [nvarchar](50) NULL,
 CONSTRAINT [PK_DessertFood] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
