USE [cshap]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 2023/12/3 下午 08:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[管理者姓名] [nvarchar](50) NULL,
	[管理者電話] [char](10) NULL,
	[管理者地址] [nvarchar](50) NULL,
	[管理者Email] [nvarchar](50) NULL,
	[管理者生日] [date] NULL,
	[管理者婚姻狀態] [bit] NULL,
	[管理者權限] [int] NULL,
	[管理者登入帳號] [int] NULL,
	[管理者登入密碼] [int] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
