USE [cshap]
GO
/****** Object:  Table [dbo].[HotFood]    Script Date: 2023/12/3 下午 08:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotFood](
	[HID] [int] NOT NULL,
	[Hname] [nvarchar](50) NULL,
	[Hprice] [int] NULL,
	[Horigin] [nvarchar](50) NULL,
	[Hdesc] [nvarchar](100) NULL,
	[Himg] [nvarchar](50) NULL,
 CONSTRAINT [PK_HotFood] PRIMARY KEY CLUSTERED 
(
	[HID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
