USE [cshap]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2023/12/3 下午 08:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[訂購人姓名] [nvarchar](50) NULL,
	[訂購人電話] [nchar](10) NULL,
	[訂購人地址] [nvarchar](50) NULL,
	[下訂日] [date] NULL,
	[訂單項目] [nvarchar](1000) NULL,
	[訂單金額] [int] NULL,
	[預計出貨日] [date] NULL,
	[預計到貨日] [date] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
