USE [cshap]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2023/12/3 下午 08:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[會員帳號姓名] [nvarchar](50) NULL,
	[會員姓名] [nvarchar](50) NULL,
	[會員身分證號碼] [char](10) NULL,
	[會員電話] [char](10) NULL,
	[會員地址] [nvarchar](50) NULL,
	[會員Email] [nvarchar](50) NULL,
	[會員生日] [date] NULL,
	[會員等級] [int] NULL,
	[會員點數] [int] NULL,
	[會員頭像] [nvarchar](50) NULL,
	[會員登入帳號] [int] NULL,
	[會員登入密碼] [int] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
